body {
    font-family: 'Noto Sans TC', sans-serif;
}

main {
    width: 80%;
    margin: auto;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.p2 {
    width: 40%;
}

.list {
    align-self: flex-start;
}

.margmid {
    margin-top: 0.4em; 
}

.margbig {
    margin-top: 0.8em;
}

.margultra {
    margin-top: 1.2em;
}

h1,h2,h3,p {
    margin: 0;
}

h1 {
    font-size: 3rem;
    font-weight: 100;
}

h3 {
    font-weight: 100;
    font-size: 1.35rem;
}

h2, p, li {
    font-weight: 300;
}

ol {
    padding-left: 15px;
}

img {
    width: 75%;
    height: auto;
}